{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
    <div class="container mt-5">
      <h2>Todo List</h2>
      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endif %}
      <!-- Form to Add Todo -->
      <form action="/todos/{{page}}" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">ToDo Title</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">ToDo Description</label>
          <input type="text" class="form-control" id="desc" name="desc">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container mt-5">
      <h2>Todo Card</h2>
      {% if alltodo|length == 0 %}
      <div class="alert alert-info" role="alert">
        No tasks added yet. Add a new task above!
      </div>
      {% else %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sno</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Date/Time</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in alltodo %}
          <tr>
            <th scope="row">{{ (page - 1) * todos_per_page + loop.index }}</th>
            <td>{{ todo.title }}</td>
            <td>{{ todo.desc }}</td>
            <td>{{ todo.date_created }}</td>
            <td>
              <a href="/update/{{ todo.sNo }}" class="btn btn-primary mx-2">Update</a>
              <a href="/delete/{{ todo.sNo }}" class="btn btn-danger mx-2">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button><a href="/logout" class="btn btn-danger">Logout</a></button>
      {% endif %}
    </div>

    <div class="pagination d-flex justify-content-center">
      {% if has_previous %}
          <a href="{{ url_for('todos', page=page - 1) }}" class="btn btn-primary mx-2">Previous</a>
      {% else %}
          <a href="?" class="btn btn-secondary mx-2" disabled>Previous</a>
      {% endif %}
      
      {% if has_next %}
          <a href="{{ url_for('todos', page=page + 1) }}" class="btn btn-primary mx-2">Next</a>
      {% else %}
          <a href="?" class="btn btn-secondary mx-2" disabled>Next</a>
      {% endif %}
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

{% endblock body %}